<!doctype html>
<meta http-equiv="refresh" content="0; url=https://www.flixstervideo.com/movies/pan/urn:dece:cid:eidr-s:67B0-2137-1A59-BC25-9EC3-3/watch" />


<style>
    body {
        background-color: #333;
    }

    .middle{
        width:425px;
        height:664px;
        position:absolute;
        left:50%;
        top:50%;
        margin:-332px 0 0 -212px;
    }

</style>
<body>
<div>
    <a id="playPan" href="https://www.flixstervideo.com/movies/pan/urn:dece:cid:eidr-s:67B0-2137-1A59-BC25-9EC3-3/watch">
        <img class="middle" src="/static/pan_poster.png">
    </a>
    </div>
</body>
